@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;900&display=swap");
html {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
}

body {
  overflow-x: hidden;
  box-sizing: border-box;
}

#body {
  display: grid;
  grid-template-columns: repeat(1, auto);
  grid-template-rows: auto;
  grid-template-areas: "header" "nav" "mainI" "footer";
}

#bodyAboutUs {
  display: grid;
  grid-template-columns: repeat(1, auto);
  grid-template-rows: auto;
  grid-template-areas: "header" "nav" "main_aboutus" "footer";
}

#bodyCategories {
  display: grid;
  grid-template-columns: repeat(1, auto);
  grid-template-rows: auto;
  grid-template-areas: "header" "nav" "main_categories" "footer";
}

#bodyContact {
  display: grid;
  grid-template-columns: repeat(1, auto);
  grid-template-rows: auto;
  grid-template-areas: "header" "nav" "main_contact" "footer";
}

#bodyTdeal {
  display: grid;
  grid-template-columns: repeat(1, auto);
  grid-template-rows: auto;
  grid-template-areas: "header" "nav " "aside_tdeal" "main_tdeal" "footer";
}
@media (min-width: 768px) {
  #bodyTdeal {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: auto;
    grid-template-areas: "header header header" "nav nav nav" "aside_tdeal aside_tdeal main_tdeal" "footer footer footer";
  }
}

#header {
  grid-area: header;
  background-color: #ffffff;
  height: 13.5vh;
}
#header .signin_Label--letters {
  font-weight: 400;
  color: #000000;
  font-size: 1.08rem;
}
#header .signin_Label--letters:hover {
  font-weight: 600;
}
@media (min-width: 576px) {
  #header .signin_Label--letters {
    font-size: 1.2rem;
  }
}
@media (min-width: 768px) {
  #header .signin_Label--letters {
    font-size: 1.3rem;
  }
}
@media (min-width: 992px) {
  #header .signin_Label--letters {
    font-size: 1.45rem;
  }
}
@media (min-width: 1200px) {
  #header .signin_Label--letters {
    font-size: 1.5rem;
  }
}
@media (min-width: 1400px) {
  #header .signin_Label--letters {
    font-size: 1.6rem;
  }
}

#nav {
  grid-area: nav;
  z-index: 100;
  background-color: #000000;
}
@media (min-width: 768px) {
  #nav {
    height: 9vh;
  }
}
#nav .nav_LabelActive-font, #nav .nav_Labels-font {
  color: rgba(255, 255, 255, 0.6862745098);
  font-weight: 400;
  font-size: 1.15rem;
}
@media (min-width: 576px) {
  #nav .nav_LabelActive-font, #nav .nav_Labels-font {
    font-size: 1.15rem;
  }
}
@media (min-width: 768px) {
  #nav .nav_LabelActive-font, #nav .nav_Labels-font {
    font-size: 1.5rem;
  }
}
@media (min-width: 992px) {
  #nav .nav_LabelActive-font, #nav .nav_Labels-font {
    font-size: 1.5rem;
  }
}
@media (min-width: 1200px) {
  #nav .nav_LabelActive-font, #nav .nav_Labels-font {
    font-size: 1.8rem;
  }
}
@media (min-width: 1400px) {
  #nav .nav_LabelActive-font, #nav .nav_Labels-font {
    font-size: 1.8rem;
  }
}
#nav .nav_LabelActive-font:hover, #nav .nav_Labels-font:hover {
  font-weight: 800;
}
#nav .nav_Labels-font {
  color: #ffffff;
}
#nav input[type=search] {
  font-size: 0.85rem;
  color: #000000;
}
@media (min-width: 576px) {
  #nav input[type=search] {
    font-size: 0.85rem;
  }
}
@media (min-width: 768px) {
  #nav input[type=search] {
    font-size: 1.3rem;
  }
}
@media (min-width: 992px) {
  #nav input[type=search] {
    font-size: 1.3rem;
  }
}
@media (min-width: 1200px) {
  #nav input[type=search] {
    font-size: 1.5rem;
  }
}
@media (min-width: 1400px) {
  #nav input[type=search] {
    font-size: 1.5rem;
  }
}
#nav button[type=submit] {
  font-size: 0.85rem;
  color: #000000;
}
@media (min-width: 576px) {
  #nav button[type=submit] {
    font-size: 0.85rem;
  }
}
@media (min-width: 768px) {
  #nav button[type=submit] {
    font-size: 1.3rem;
  }
}
@media (min-width: 992px) {
  #nav button[type=submit] {
    font-size: 1.3rem;
  }
}
@media (min-width: 1200px) {
  #nav button[type=submit] {
    font-size: 1.5rem;
  }
}
@media (min-width: 1400px) {
  #nav button[type=submit] {
    font-size: 1.5rem;
  }
}
#nav .collapsed_nav-item {
  text-align: center;
}

#main {
  grid-area: mainI;
}
#main .landing {
  background-color: #ED181F;
  height: 50vh;
}
@keyframes landingcarousler {
  0% {
    background-image: url(../img/index/IndexLand1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  25% {
    background-image: url(../img/index/IndexLand2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  50% {
    background-image: url(../img/index/IndexLand3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  75% {
    background-image: url(../img/index/IndexLand4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  100% {
    background-image: url(../img/index/IndexLand1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}
#main .CarouselLabel {
  height: 50%;
}
@media (min-width: 768px) {
  #main .CarouselLabel {
    height: 100%;
  }
}
#main .CarouselLanding {
  animation-name: landingcarousler;
  animation-duration: 15s;
  animation-iteration-count: infinite;
  height: 50%;
}
@media (min-width: 768px) {
  #main .CarouselLanding {
    height: 100%;
  }
}
#main .landing_Label--font {
  text-align: center;
  font-weight: 900;
  font-size: 2.5rem;
  color: #000000;
  display: inline-block;
  margin: auto;
}
@media (min-width: 576px) {
  #main .landing_Label--font {
    font-size: 2.8rem;
  }
}
@media (min-width: 768px) {
  #main .landing_Label--font {
    font-size: 3rem;
  }
}
@media (min-width: 992px) {
  #main .landing_Label--font {
    font-size: 3.2rem;
  }
}
@media (min-width: 1200px) {
  #main .landing_Label--font {
    font-size: 3.4rem;
  }
}
@media (min-width: 1400px) {
  #main .landing_Label--font {
    font-size: 3.8rem;
  }
}
#main .button_BuyImg--Specs {
  width: 10rem;
  height: 10rem;
  cursor: pointer;
  border: none;
  background-color: #ffffff;
}
@media (min-width: 576px) {
  #main .button_BuyImg--Specs {
    width: 12rem;
    height: 12rem;
  }
}
@media (min-width: 992px) {
  #main .button_BuyImg--Specs {
    width: 14rem;
    height: 14rem;
  }
}
@media (min-width: 1400px) {
  #main .button_BuyImg--Specs {
    width: 15.5rem;
    height: 15.5rem;
  }
}
#main .section {
  background-color: #F4F3F5;
  box-sizing: content-box;
}
#main .headerFeatured_Label--sizing {
  font-size: 2.5rem;
  font-weight: 800;
  color: #000000;
}
@media (min-width: 576px) {
  #main .headerFeatured_Label--sizing {
    font-size: 2.8rem;
  }
}
@media (min-width: 768px) {
  #main .headerFeatured_Label--sizing {
    font-size: 3rem;
  }
}
@media (min-width: 992px) {
  #main .headerFeatured_Label--sizing {
    font-size: 3.2rem;
  }
}
@media (min-width: 1200px) {
  #main .headerFeatured_Label--sizing {
    font-size: 3.4rem;
  }
}
@media (min-width: 1400px) {
  #main .headerFeatured_Label--sizing {
    font-size: 3.8rem;
  }
}
#main .articles_LabeTitle--sizing {
  font-weight: 500;
  color: #000000;
  font-size: 2rem;
}
@media (min-width: 576px) {
  #main .articles_LabeTitle--sizing {
    font-size: 2rem;
  }
}
@media (min-width: 768px) {
  #main .articles_LabeTitle--sizing {
    font-size: 2.3rem;
  }
}
@media (min-width: 992px) {
  #main .articles_LabeTitle--sizing {
    font-size: 2.3rem;
  }
}
@media (min-width: 1200px) {
  #main .articles_LabeTitle--sizing {
    font-size: 2.6rem;
  }
}
@media (min-width: 1400px) {
  #main .articles_LabeTitle--sizing {
    font-size: 2.6rem;
  }
}
#main .articles_LabeText--sizing {
  font-weight: 500;
  color: #000000;
  font-size: 1.5rem;
}
@media (min-width: 576px) {
  #main .articles_LabeText--sizing {
    font-size: 1.5rem;
  }
}
@media (min-width: 768px) {
  #main .articles_LabeText--sizing {
    font-size: 1.8rem;
  }
}
@media (min-width: 992px) {
  #main .articles_LabeText--sizing {
    font-size: 1.8rem;
  }
}
@media (min-width: 1200px) {
  #main .articles_LabeText--sizing {
    font-size: 1.8rem;
  }
}
@media (min-width: 1400px) {
  #main .articles_LabeText--sizing {
    font-size: 1.8rem;
  }
}
#main .textSection {
  background-color: #ED181F;
  display: flex;
  flex-direction: start;
  height: 45vh;
}
#main .textSection_Paragraphs--font {
  width: 35%;
  font-weight: 300;
  font-size: 1.5rem;
}
@media (min-width: 576px) {
  #main .textSection_Paragraphs--font {
    font-size: 1.5rem;
  }
}
@media (min-width: 768px) {
  #main .textSection_Paragraphs--font {
    font-size: 1.8rem;
  }
}
@media (min-width: 992px) {
  #main .textSection_Paragraphs--font {
    font-size: 1.8rem;
  }
}
@media (min-width: 1200px) {
  #main .textSection_Paragraphs--font {
    font-size: 1.8rem;
  }
}
@media (min-width: 1400px) {
  #main .textSection_Paragraphs--font {
    font-size: 1.8rem;
  }
}
#main .textSectionMobileHide {
  display: none;
  background-color: #ED181F;
}
@media (min-width: 768px) {
  #main .textSectionMobileHide {
    display: flex;
  }
}

#main_aboutus {
  grid-area: main_aboutus;
}
#main_aboutus .aboutusLand {
  position: relative;
  text-align: center;
  height: 30vh;
  overflow: hidden;
}
@media (min-width: 768px) {
  #main_aboutus .aboutusLand {
    height: 60vh;
  }
}
@media (min-width: 992px) {
  #main_aboutus .aboutusLand {
    height: 80vh;
  }
}
#main_aboutus .aboutusVideo--styling {
  height: auto;
  width: 100vw;
}
#main_aboutus .aboutusHeader--font {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  z-index: 2;
  color: #ffffff;
  font-size: 3rem;
  font-weight: 900;
}
@media (min-width: 576px) {
  #main_aboutus .aboutusHeader--font {
    font-size: 3.2rem;
  }
}
@media (min-width: 768px) {
  #main_aboutus .aboutusHeader--font {
    font-size: 3.4rem;
  }
}
@media (min-width: 992px) {
  #main_aboutus .aboutusHeader--font {
    font-size: 3.6rem;
  }
}
@media (min-width: 1200px) {
  #main_aboutus .aboutusHeader--font {
    font-size: 3.8rem;
  }
}
@media (min-width: 1400px) {
  #main_aboutus .aboutusHeader--font {
    font-size: 4rem;
  }
}
#main_aboutus .aboutUsText {
  height: 95vh;
}
#main_aboutus .aboutDiosdados--font {
  font-weight: 600;
  font-size: 1.5rem;
}
@media (min-width: 576px) {
  #main_aboutus .aboutDiosdados--font {
    font-size: 1.8rem;
  }
}
@media (min-width: 768px) {
  #main_aboutus .aboutDiosdados--font {
    font-size: 2.1rem;
  }
}
@media (min-width: 992px) {
  #main_aboutus .aboutDiosdados--font {
    font-size: 2.4rem;
  }
}
@media (min-width: 1200px) {
  #main_aboutus .aboutDiosdados--font {
    font-size: 2.7rem;
  }
}
@media (min-width: 1400px) {
  #main_aboutus .aboutDiosdados--font {
    font-size: 3rem;
  }
}
#main_aboutus .aboutUsDescp--font {
  font-weight: 300;
  font-size: 1rem;
}
@media (min-width: 576px) {
  #main_aboutus .aboutUsDescp--font {
    font-size: 1.2rem;
  }
}
@media (min-width: 768px) {
  #main_aboutus .aboutUsDescp--font {
    font-size: 1.3rem;
  }
}
@media (min-width: 992px) {
  #main_aboutus .aboutUsDescp--font {
    font-size: 1.8rem;
  }
}
@media (min-width: 1200px) {
  #main_aboutus .aboutUsDescp--font {
    font-size: 1.8rem;
  }
}
@media (min-width: 1400px) {
  #main_aboutus .aboutUsDescp--font {
    font-size: 1.8rem;
  }
}
#main_aboutus .mission, #main_aboutus .vision {
  height: 95vh;
  background-color: #F4F3F5;
}
#main_aboutus .missionIMG--sizing {
  width: 100%;
}
#main_aboutus .missionHeader--font, #main_aboutus .visionHeader--font {
  font-weight: 600;
  font-size: 1.5rem;
}
@media (min-width: 576px) {
  #main_aboutus .missionHeader--font, #main_aboutus .visionHeader--font {
    font-size: 1.8rem;
  }
}
@media (min-width: 768px) {
  #main_aboutus .missionHeader--font, #main_aboutus .visionHeader--font {
    font-size: 2.1rem;
  }
}
@media (min-width: 992px) {
  #main_aboutus .missionHeader--font, #main_aboutus .visionHeader--font {
    font-size: 2.4rem;
  }
}
@media (min-width: 1200px) {
  #main_aboutus .missionHeader--font, #main_aboutus .visionHeader--font {
    font-size: 2.7rem;
  }
}
@media (min-width: 1400px) {
  #main_aboutus .missionHeader--font, #main_aboutus .visionHeader--font {
    font-size: 3rem;
  }
}
#main_aboutus .missionHr--styling, #main_aboutus .visionHr--styling {
  border: 0;
  border-top: 0.2rem solid #ED181F;
  display: inline-block;
  margin: 1rem 0rem;
  padding: 0;
  width: 7rem;
}
#main_aboutus .missionDescp--font, #main_aboutus .visionDescp--font {
  font-weight: 300;
  font-size: 1rem;
}
@media (min-width: 576px) {
  #main_aboutus .missionDescp--font, #main_aboutus .visionDescp--font {
    font-size: 1.2rem;
  }
}
@media (min-width: 768px) {
  #main_aboutus .missionDescp--font, #main_aboutus .visionDescp--font {
    font-size: 1.3rem;
  }
}
@media (min-width: 992px) {
  #main_aboutus .missionDescp--font, #main_aboutus .visionDescp--font {
    font-size: 1.8rem;
  }
}
@media (min-width: 1200px) {
  #main_aboutus .missionDescp--font, #main_aboutus .visionDescp--font {
    font-size: 1.8rem;
  }
}
@media (min-width: 1400px) {
  #main_aboutus .missionDescp--font, #main_aboutus .visionDescp--font {
    font-size: 1.8rem;
  }
}
#main_aboutus .visionIMG--sizing {
  width: 100%;
}
#main_aboutus .textSection {
  display: flex;
  flex-direction: start;
  height: 40vh;
}
#main_aboutus .textSection_Paragraphs--font {
  width: 35%;
  font-weight: 300;
  font-size: 1.5rem;
}
@media (min-width: 576px) {
  #main_aboutus .textSection_Paragraphs--font {
    font-size: 1.5rem;
  }
}
@media (min-width: 768px) {
  #main_aboutus .textSection_Paragraphs--font {
    font-size: 1.8rem;
  }
}
@media (min-width: 992px) {
  #main_aboutus .textSection_Paragraphs--font {
    font-size: 1.8rem;
  }
}
@media (min-width: 1200px) {
  #main_aboutus .textSection_Paragraphs--font {
    font-size: 1.8rem;
  }
}
@media (min-width: 1400px) {
  #main_aboutus .textSection_Paragraphs--font {
    font-size: 1.8rem;
  }
}
#main_aboutus .textSectionMobileHide {
  display: none;
}
@media (min-width: 768px) {
  #main_aboutus .textSectionMobileHide {
    display: flex;
  }
}

#main_categories {
  grid-area: main_categories;
}
#main_categories .casualLandImg {
  width: 100%;
}
@media (min-width: 768px) {
  #main_categories .casualLandImg {
    width: 90%;
  }
}
#main_categories .cardHidder {
  display: none;
}
@media (min-width: 768px) {
  #main_categories .cardHidder {
    display: flex;
  }
}
#main_categories .card-title {
  font-weight: 500;
  color: #000000;
  font-size: 1.5rem;
}
@media (min-width: 576px) {
  #main_categories .card-title {
    font-size: 1.8rem;
  }
}
@media (min-width: 768px) {
  #main_categories .card-title {
    font-size: 2.1rem;
  }
}
@media (min-width: 992px) {
  #main_categories .card-title {
    font-size: 2.4rem;
  }
}
@media (min-width: 1200px) {
  #main_categories .card-title {
    font-size: 2.7rem;
  }
}
@media (min-width: 1400px) {
  #main_categories .card-title {
    font-size: 3rem;
  }
}
#main_categories .card-text {
  font-weight: 300;
  color: #000000;
  font-size: 1.15rem;
}
@media (min-width: 576px) {
  #main_categories .card-text {
    font-size: 1.15rem;
  }
}
@media (min-width: 768px) {
  #main_categories .card-text {
    font-size: 1.5rem;
  }
}
@media (min-width: 992px) {
  #main_categories .card-text {
    font-size: 1.5rem;
  }
}
@media (min-width: 1200px) {
  #main_categories .card-text {
    font-size: 1.8rem;
  }
}
#main_categories .btn-Color {
  background-color: #ED181F;
  font-size: 1.15rem;
  color: #000000;
}
@media (min-width: 576px) {
  #main_categories .btn-Color {
    font-size: 1.15rem;
  }
}
@media (min-width: 768px) {
  #main_categories .btn-Color {
    font-size: 1.5rem;
  }
}
@media (min-width: 992px) {
  #main_categories .btn-Color {
    font-size: 1.5rem;
  }
}
@media (min-width: 1200px) {
  #main_categories .btn-Color {
    font-size: 1.8rem;
  }
}
@media (min-width: 768px) {
  #main_categories .cardWrapper {
    display: none;
  }
}
#main_categories .card-body {
  height: 28vh;
}
@media (min-width: 768px) {
  #main_categories .card-body {
    height: 25vh;
  }
}
@media (min-width: 1200px) {
  #main_categories .card-body {
    height: 24vh;
  }
}
#main_categories .imageWrapper img {
  max-width: 100%;
}

#main_contact {
  grid-area: "main_contact";
}
#main_contact .faq {
  background-color: #ffffff;
}
@media (min-width: 768px) {
  #main_contact .faq {
    width: 75%;
  }
}
#main_contact .faqHeader, #main_contact .formHeader, #main_contact .contact {
  color: #000000;
  font-size: 2.5rem;
  font-weight: 600;
}
@media (min-width: 576px) {
  #main_contact .faqHeader, #main_contact .formHeader, #main_contact .contact {
    font-size: 2.8rem;
  }
}
@media (min-width: 768px) {
  #main_contact .faqHeader, #main_contact .formHeader, #main_contact .contact {
    font-size: 3rem;
  }
}
@media (min-width: 992px) {
  #main_contact .faqHeader, #main_contact .formHeader, #main_contact .contact {
    font-size: 3.2rem;
  }
}
@media (min-width: 1200px) {
  #main_contact .faqHeader, #main_contact .formHeader, #main_contact .contact {
    font-size: 3.4rem;
  }
}
@media (min-width: 1400px) {
  #main_contact .faqHeader, #main_contact .formHeader, #main_contact .contact {
    font-size: 3.8rem;
  }
}
#main_contact .faqTitles {
  font-size: 1rem;
  font-weight: 400;
}
@media (min-width: 576px) {
  #main_contact .faqTitles {
    font-size: 1.3rem;
  }
}
@media (min-width: 768px) {
  #main_contact .faqTitles {
    font-size: 1.6rem;
  }
}
@media (min-width: 992px) {
  #main_contact .faqTitles {
    font-size: 1.9rem;
  }
}
@media (min-width: 1200px) {
  #main_contact .faqTitles {
    font-size: 2.2rem;
  }
}
@media (min-width: 1400px) {
  #main_contact .faqTitles {
    font-size: 2.5rem;
  }
}
#main_contact .faqText {
  font-size: 1rem;
  font-weight: 300;
}
@media (min-width: 576px) {
  #main_contact .faqText {
    font-size: 1rem;
  }
}
@media (min-width: 768px) {
  #main_contact .faqText {
    font-size: 1.3rem;
  }
}
@media (min-width: 992px) {
  #main_contact .faqText {
    font-size: 1.3rem;
  }
}
@media (min-width: 1200px) {
  #main_contact .faqText {
    font-size: 1.6rem;
  }
}
@media (min-width: 1400px) {
  #main_contact .faqText {
    font-size: 1.6rem;
  }
}
#main_contact .contactBackground-Color {
  background-color: #ED181F;
}
#main_contact .icon {
  width: 3.8rem;
  color: #000000;
}
@media (min-width: 576px) {
  #main_contact .icon {
    width: 4rem;
  }
}
@media (min-width: 768px) {
  #main_contact .icon {
    width: 4.3rem;
  }
}
@media (min-width: 992px) {
  #main_contact .icon {
    width: 4.8rem;
  }
}
@media (min-width: 1200px) {
  #main_contact .icon {
    width: 5.3rem;
  }
}
@media (min-width: 1400px) {
  #main_contact .icon {
    width: 5.6rem;
  }
}
#main_contact .contactTextBox {
  width: 75%;
}
#main_contact .contactText {
  font-size: 1rem;
  font-weight: 300;
}
@media (min-width: 576px) {
  #main_contact .contactText {
    font-size: 1rem;
  }
}
@media (min-width: 768px) {
  #main_contact .contactText {
    font-size: 1.3rem;
  }
}
@media (min-width: 992px) {
  #main_contact .contactText {
    font-size: 1.3rem;
  }
}
@media (min-width: 1200px) {
  #main_contact .contactText {
    font-size: 1.6rem;
  }
}
@media (min-width: 1400px) {
  #main_contact .contactText {
    font-size: 1.6rem;
  }
}
#main_contact .formBackground {
  background-color: #F4F3F5;
}
#main_contact .formTitles {
  font-size: 1rem;
  font-weight: 500;
}
@media (min-width: 576px) {
  #main_contact .formTitles {
    font-size: 1.3rem;
  }
}
@media (min-width: 768px) {
  #main_contact .formTitles {
    font-size: 1.6rem;
  }
}
@media (min-width: 992px) {
  #main_contact .formTitles {
    font-size: 1.9rem;
  }
}
@media (min-width: 1200px) {
  #main_contact .formTitles {
    font-size: 2.2rem;
  }
}
@media (min-width: 1400px) {
  #main_contact .formTitles {
    font-size: 2.5rem;
  }
}
#main_contact .formText {
  font-size: 1rem;
  font-weight: 300;
}
@media (min-width: 576px) {
  #main_contact .formText {
    font-size: 1rem;
  }
}
@media (min-width: 768px) {
  #main_contact .formText {
    font-size: 1.3rem;
  }
}
@media (min-width: 992px) {
  #main_contact .formText {
    font-size: 1.3rem;
  }
}
@media (min-width: 1200px) {
  #main_contact .formText {
    font-size: 1.6rem;
  }
}
@media (min-width: 1400px) {
  #main_contact .formText {
    font-size: 1.6rem;
  }
}
#main_contact .submitButton {
  background-color: #ED181F;
  font-size: 1.15rem;
  color: #000000;
}
@media (min-width: 576px) {
  #main_contact .submitButton {
    font-size: 1.15rem;
  }
}
@media (min-width: 768px) {
  #main_contact .submitButton {
    font-size: 1.5rem;
  }
}
@media (min-width: 992px) {
  #main_contact .submitButton {
    font-size: 1.5rem;
  }
}
@media (min-width: 1200px) {
  #main_contact .submitButton {
    font-size: 1.8rem;
  }
}
#main_tdeal {
  grid-area: main_tdeal;
}
@media (min-width: 992px) {
  #main_tdeal {
    max-height: 50%;
    overflow: hidden;
    top: 5rem;
  }
}
#main_tdeal .productTitle {
  font-weight: 600;
  color: #000000;
  font-size: 2rem;
}
@media (min-width: 576px) {
  #main_tdeal .productTitle {
    font-size: 2.5rem;
  }
}
@media (min-width: 768px) {
  #main_tdeal .productTitle {
    font-size: 2.8rem;
  }
}
@media (min-width: 992px) {
  #main_tdeal .productTitle {
    font-size: 3rem;
  }
}
@media (min-width: 1200px) {
  #main_tdeal .productTitle {
    font-size: 3.2rem;
  }
}
@media (min-width: 1400px) {
  #main_tdeal .productTitle {
    font-size: 3.5rem;
  }
}
#main_tdeal .categoryTitle {
  font-weight: 300;
  color: #000000;
  font-size: 1.8rem;
}
@media (min-width: 576px) {
  #main_tdeal .categoryTitle {
    font-size: 2.3rem;
  }
}
@media (min-width: 768px) {
  #main_tdeal .categoryTitle {
    font-size: 2.4rem;
  }
}
@media (min-width: 992px) {
  #main_tdeal .categoryTitle {
    font-size: 2.5rem;
  }
}
@media (min-width: 1200px) {
  #main_tdeal .categoryTitle {
    font-size: 2.7rem;
  }
}
@media (min-width: 1400px) {
  #main_tdeal .categoryTitle {
    font-size: 2.8rem;
  }
}
#main_tdeal .sizeSelector {
  font-weight: 300;
  color: #000000;
  font-size: 1.3rem;
}
@media (min-width: 576px) {
  #main_tdeal .sizeSelector {
    font-size: 1.5rem;
  }
}
@media (min-width: 768px) {
  #main_tdeal .sizeSelector {
    font-size: 1.7rem;
  }
}
@media (min-width: 992px) {
  #main_tdeal .sizeSelector {
    font-size: 1.9rem;
  }
}
@media (min-width: 1200px) {
  #main_tdeal .sizeSelector {
    font-size: 2rem;
  }
}
@media (min-width: 1400px) {
  #main_tdeal .sizeSelector {
    font-size: 2.1rem;
  }
}
#main_tdeal .button_Text-Size, #main_tdeal .favbutButtons {
  width: 8rem;
  height: 2.6rem;
  font-weight: 200;
  color: #000000;
  font-size: 1.2rem;
}
@media (min-width: 576px) {
  #main_tdeal .button_Text-Size, #main_tdeal .favbutButtons {
    font-size: 1.2rem;
  }
}
@media (min-width: 768px) {
  #main_tdeal .button_Text-Size, #main_tdeal .favbutButtons {
    font-size: 1.3rem;
  }
}
@media (min-width: 992px) {
  #main_tdeal .button_Text-Size, #main_tdeal .favbutButtons {
    font-size: 1.3rem;
  }
}
@media (min-width: 1200px) {
  #main_tdeal .button_Text-Size, #main_tdeal .favbutButtons {
    font-size: 1.5rem;
  }
}
@media (min-width: 1400px) {
  #main_tdeal .button_Text-Size, #main_tdeal .favbutButtons {
    font-size: 1.5rem;
  }
}
#main_tdeal .button_Text-Size:hover, #main_tdeal .favbutButtons:hover {
  color: #ffffff;
}
#main_tdeal .favbutButtons {
  width: auto;
  height: auto;
  background-color: #ED181F;
  border: none;
  font-weight: 300;
}

#aside_tdeal {
  grid-area: aside_tdeal;
}
#aside_tdeal .imgWidth {
  max-width: 100%;
}
@media (min-width: 992px) {
  #aside_tdeal .imgWidth {
    height: 45rem;
    object-fit: cover;
  }
}

.errorPageHeight {
  height: 100vh;
}

.svgData {
  max-height: 100%;
  max-width: 100%;
}

#footer {
  grid-area: footer;
  background-color: #000000;
}
#footer .footerText--font {
  font-size: 1rem;
  font-weight: 200;
  color: #ffffff;
}
@media (min-width: 576px) {
  #footer .footerText--font {
    font-size: 1.15rem;
  }
}
@media (min-width: 768px) {
  #footer .footerText--font {
    font-size: 1.4rem;
  }
}
@media (min-width: 992px) {
  #footer .footerText--font {
    font-size: 1.45rem;
  }
}
@media (min-width: 1200px) {
  #footer .footerText--font {
    font-size: 1.6rem;
  }
}
@media (min-width: 1400px) {
  #footer .footerText--font {
    font-size: 1.75rem;
  }
}
#footer .socialMedia_IMG--sizing {
  width: 3.5rem;
  height: 3.5rem;
}
@media (min-width: 768px) {
  #footer .socialMedia_IMG--sizing {
    width: 4rem;
    height: 4rem;
  }
}
@media (min-width: 992px) {
  #footer .socialMedia_IMG--sizing {
    width: 4.5rem;
    height: 4.5rem;
  }
}
@media (min-width: 1200px) {
  #footer .socialMedia_IMG--sizing {
    width: 5rem;
    height: 5rem;
  }
}
#footer select[name] {
  font-size: 1rem;
  font-weight: 200;
  color: #000000;
}
@media (min-width: 576px) {
  #footer select[name] {
    font-size: 1.15rem;
  }
}
@media (min-width: 768px) {
  #footer select[name] {
    font-size: 1.3rem;
  }
}
@media (min-width: 992px) {
  #footer select[name] {
    font-size: 1.3rem;
  }
}
@media (min-width: 1200px) {
  #footer select[name] {
    font-size: 1.4rem;
  }
}
@media (min-width: 1400px) {
  #footer select[name] {
    font-size: 1.45rem;
  }
}

/*!
 * Bootstrap  v5.2.0 (https://getbootstrap.com/)
 * Copyright 2011-2022 The Bootstrap Authors
 * Copyright 2011-2022 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/main/LICENSE)
 */
:root {
  --bs-blue: #0d6efd;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
  --bs-red: #ED181F;
  --bs-orange: #fd7e14;
  --bs-yellow: #ffc107;
  --bs-green: #198754;
  --bs-teal: #20c997;
  --bs-cyan: #0dcaf0;
  --bs-black: #000000;
  --bs-white: #ffffff;
  --bs-gray: #6c757d;
  --bs-gray-dark: #343a40;
  --bs-gray-100: #f8f9fa;
  --bs-gray-200: #e9ecef;
  --bs-gray-300: #dee2e6;
  --bs-gray-400: #ced4da;
  --bs-gray-500: #adb5bd;
  --bs-gray-600: #6c757d;
  --bs-gray-700: #495057;
  --bs-gray-800: #343a40;
  --bs-gray-900: #212529;
  --bs-primary: #0d6efd;
  --bs-secondary: #6c757d;
  --bs-success: #198754;
  --bs-info: #0dcaf0;
  --bs-warning: #ffc107;
  --bs-danger: #ED181F;
  --bs-light: #f8f9fa;
  --bs-dark: #212529;
  --bs-primary-rgb: 13, 110, 253;
  --bs-secondary-rgb: 108, 117, 125;
  --bs-success-rgb: 25, 135, 84;
  --bs-info-rgb: 13, 202, 240;
  --bs-warning-rgb: 255, 193, 7;
  --bs-danger-rgb: 237, 24, 31;
  --bs-light-rgb: 248, 249, 250;
  --bs-dark-rgb: 33, 37, 41;
  --bs-white-rgb: 255, 255, 255;
  --bs-black-rgb: 0, 0, 0;
  --bs-body-color-rgb: 33, 37, 41;
  --bs-body-bg-rgb: 255, 255, 255;
  --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  --bs-body-font-family: var(--bs-font-sans-serif);
  --bs-body-font-size: 1rem;
  --bs-body-font-weight: 400;
  --bs-body-line-height: 1.5;
  --bs-body-color: #212529;
  --bs-body-bg: #ffffff;
  --bs-border-width: 1px;
  --bs-border-style: solid;
  --bs-border-color: #dee2e6;
  --bs-border-color-translucent: rgba(0, 0, 0, 0.175);
  --bs-border-radius: 0.375rem;
  --bs-border-radius-sm: 0.25rem;
  --bs-border-radius-lg: 0.5rem;
  --bs-border-radius-xl: 1rem;
  --bs-border-radius-2xl: 2rem;
  --bs-border-radius-pill: 50rem;
  --bs-link-color: #0d6efd;
  --bs-link-hover-color: #0a58ca;
  --bs-code-color: #d63384;
  --bs-highlight-bg: #fff3cd;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}

body {
  margin: 0;
  font-family: var(--bs-body-font-family);
  font-size: var(--bs-body-font-size);
  font-weight: var(--bs-body-font-weight);
  line-height: var(--bs-body-line-height);
  color: var(--bs-body-color);
  text-align: var(--bs-body-text-align);
  background-color: var(--bs-body-bg);
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

hr {
  margin: 1rem 0;
  color: inherit;
  border: 0;
  border-top: 1px solid;
  opacity: 0.25;
}

 h5, .h5, h3, .h3, h2, .h2, h1, .h1 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}

h1, .h1 {
  font-size: calc(1.375rem + 1.5vw);
}
@media (min-width: 1200px) {
  h1, .h1 {
    font-size: 2.5rem;
  }
}

h2, .h2 {
  font-size: calc(1.325rem + 0.9vw);
}
@media (min-width: 1200px) {
  h2, .h2 {
    font-size: 2rem;
  }
}

h3, .h3 {
  font-size: calc(1.3rem + 0.6vw);
}
@media (min-width: 1200px) {
  h3, .h3 {
    font-size: 1.75rem;
  }
}

h5, .h5 {
  font-size: 1.25rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

ol,
ul {
  padding-left: 2rem;
}

ol,
ul {
  margin-top: 0;
  margin-bottom: 1rem;
}

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0;
}

a {
  color: var(--bs-link-color);
  text-decoration: underline;
}
a:hover {
  color: var(--bs-link-hover-color);
}

a:not([href]):not([class]), a:not([href]):not([class]):hover {
  color: inherit;
  text-decoration: none;
}

figure {
  margin: 0 0 1rem;
}

img,
svg {
  vertical-align: middle;
}

label {
  display: inline-block;
}

button {
  border-radius: 0;
}

button:focus:not(:focus-visible) {
  outline: 0;
}

input,
button,
select,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button,
select {
  text-transform: none;
}

[role=button] {
  cursor: pointer;
}

select {
  word-wrap: normal;
}
select:disabled {
  opacity: 1;
}

button,
[type=button],
[type=submit] {
  -webkit-appearance: button;
}
button:not(:disabled),
[type=button]:not(:disabled),
[type=submit]:not(:disabled) {
  cursor: pointer;
}

::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

textarea {
  resize: vertical;
}

fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}

legend {
  float: left;
  width: 100%;
  padding: 0;
  margin-bottom: 0.5rem;
  font-size: calc(1.275rem + 0.3vw);
  line-height: inherit;
}
@media (min-width: 1200px) {
  legend {
    font-size: 1.5rem;
  }
}
legend + * {
  clear: left;
}

::-webkit-datetime-edit-fields-wrapper,
::-webkit-datetime-edit-text,
::-webkit-datetime-edit-minute,
::-webkit-datetime-edit-hour-field,
::-webkit-datetime-edit-day-field,
::-webkit-datetime-edit-month-field,
::-webkit-datetime-edit-year-field {
  padding: 0;
}

::-webkit-inner-spin-button {
  height: auto;
}

[type=search] {
  outline-offset: -2px;
  -webkit-appearance: textfield;
}

/* rtl:raw:
[type="tel"],
[type="url"],
[type="email"],
[type="number"] {
  direction: ltr;
}
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-color-swatch-wrapper {
  padding: 0;
}

::file-selector-button {
  font: inherit;
  -webkit-appearance: button;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.figure {
  display: inline-block;
}


.container-fluid {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-right: auto;
  margin-left: auto;
}
.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-0.5 * var(--bs-gutter-x));
  margin-left: calc(-0.5 * var(--bs-gutter-x));
}
.row > * {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-top: var(--bs-gutter-y);
}

.col-4 {
  flex: 0 0 auto;
  width: 33.33333333%;
}

.col-5 {
  flex: 0 0 auto;
  width: 41.66666667%;
}

.col-12 {
  flex: 0 0 auto;
  width: 100%;
}

.g-0 {
  --bs-gutter-x: 0;
}

.g-0 {
  --bs-gutter-y: 0;
}

.g-3 {
  --bs-gutter-x: 1rem;
}

.g-3 {
  --bs-gutter-y: 1rem;
}

@media (min-width: 576px) {
  .col-sm-2 {
    flex: 0 0 auto;
    width: 16.66666667%;
  }
  .col-sm-10 {
    flex: 0 0 auto;
    width: 83.33333333%;
  }
  .col-sm-12 {
    flex: 0 0 auto;
    width: 100%;
  }
}
@media (min-width: 768px) {
  .col-md-1 {
    flex: 0 0 auto;
    width: 8.33333333%;
  }
  .col-md-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
  }
  .col-md-5 {
    flex: 0 0 auto;
    width: 41.66666667%;
  }
  .col-md-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-md-8 {
    flex: 0 0 auto;
    width: 66.66666667%;
  }
}
@media (min-width: 992px) {
  .col-lg-6 {
    flex: 0 0 auto;
    width: 50%;
  }
}
@media (min-width: 1200px) {
  .col-xl-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-xl-9 {
    flex: 0 0 auto;
    width: 75%;
  }
}
.form-label {
  margin-bottom: 0.5rem;
}

.col-form-label {
  padding-top: calc(0.375rem + 1px);
  padding-bottom: calc(0.375rem + 1px);
  margin-bottom: 0;
  font-size: inherit;
  line-height: 1.5;
}

.form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #ffffff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  appearance: none;
  border-radius: 0.375rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
@media (prefers-reduced-motion: reduce) {
  .form-control {
    transition: none;
  }
}
.form-control:focus {
  color: #212529;
  background-color: #ffffff;
  border-color: #86b7fe;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}
.form-control::-webkit-date-and-time-value {
  height: 1.5em;
}
.form-control::placeholder {
  color: #6c757d;
  opacity: 1;
}
.form-control:disabled {
  background-color: #e9ecef;
  opacity: 1;
}
.form-control::file-selector-button {
  padding: 0.375rem 0.75rem;
  margin: -0.375rem -0.75rem;
  margin-inline-end: 0.75rem;
  color: #212529;
  background-color: #e9ecef;
  pointer-events: none;
  border-color: inherit;
  border-style: solid;
  border-width: 0;
  border-inline-end-width: 1px;
  border-radius: 0;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
@media (prefers-reduced-motion: reduce) {
  .form-control::file-selector-button {
    transition: none;
  }
}
.form-control:hover:not(:disabled):not([readonly])::file-selector-button {
  background-color: #dde0e3;
}

textarea.form-control {
  min-height: calc(1.5em + 0.75rem + 2px);
}

.form-select {
  display: block;
  width: 100%;
  padding: 0.375rem 2.25rem 0.375rem 0.75rem;
  -moz-padding-start: calc(0.75rem - 3px);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
  background-size: 16px 12px;
  border: 1px solid #ced4da;
  border-radius: 0.375rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  appearance: none;
}
@media (prefers-reduced-motion: reduce) {
  .form-select {
    transition: none;
  }
}
.form-select:focus {
  border-color: #86b7fe;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}
 .form-select[size]:not([size="1"]) {
  padding-right: 0.75rem;
  background-image: none;
}
.form-select:disabled {
  background-color: #e9ecef;
}
.form-select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #212529;
}

.form-check {
  display: block;
  min-height: 1.5rem;
  padding-left: 1.5em;
  margin-bottom: 0.125rem;
}
.form-check .form-check-input {
  float: left;
  margin-left: -1.5em;
}

.form-check-input {
  width: 1em;
  height: 1em;
  margin-top: 0.25em;
  vertical-align: top;
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: 1px solid rgba(0, 0, 0, 0.25);
  appearance: none;
  print-color-adjust: exact;
}
.form-check-input[type=checkbox] {
  border-radius: 0.25em;
}
.form-check-input:active {
  filter: brightness(90%);
}
.form-check-input:focus {
  border-color: #86b7fe;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}
.form-check-input:checked {
  background-color: #0d6efd;
  border-color: #0d6efd;
}
.form-check-input:checked[type=checkbox] {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23ffffff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/%3e%3c/svg%3e");
}
.form-check-input[type=checkbox]:indeterminate {
  background-color: #0d6efd;
  border-color: #0d6efd;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23ffffff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10h8'/%3e%3c/svg%3e");
}
.form-check-input:disabled {
  pointer-events: none;
  filter: none;
  opacity: 0.5;
}
.form-check-input[disabled] ~ .form-check-label, .form-check-input:disabled ~ .form-check-label {
  cursor: default;
  opacity: 0.5;
}

.btn {
  --bs-btn-padding-x: 0.75rem;
  --bs-btn-padding-y: 0.375rem;
  --bs-btn-font-family: ;
  --bs-btn-font-size: 1rem;
  --bs-btn-font-weight: 400;
  --bs-btn-line-height: 1.5;
  --bs-btn-color: #212529;
  --bs-btn-bg: transparent;
  --bs-btn-border-width: 1px;
  --bs-btn-border-color: transparent;
  --bs-btn-border-radius: 0.375rem;
  --bs-btn-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
  --bs-btn-disabled-opacity: 0.65;
  --bs-btn-focus-box-shadow: 0 0 0 0.25rem rgba(var(--bs-btn-focus-shadow-rgb), .5);
  display: inline-block;
  padding: var(--bs-btn-padding-y) var(--bs-btn-padding-x);
  font-family: var(--bs-btn-font-family);
  font-size: var(--bs-btn-font-size);
  font-weight: var(--bs-btn-font-weight);
  line-height: var(--bs-btn-line-height);
  color: var(--bs-btn-color);
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  border: var(--bs-btn-border-width) solid var(--bs-btn-border-color);
  border-radius: var(--bs-btn-border-radius);
  background-color: var(--bs-btn-bg);
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
@media (prefers-reduced-motion: reduce) {
  .btn {
    transition: none;
  }
}
.btn:hover {
  color: var(--bs-btn-hover-color);
  background-color: var(--bs-btn-hover-bg);
  border-color: var(--bs-btn-hover-border-color);
}
 .btn:focus {
  color: var(--bs-btn-hover-color);
  background-color: var(--bs-btn-hover-bg);
  border-color: var(--bs-btn-hover-border-color);
  outline: 0;
  box-shadow: var(--bs-btn-focus-box-shadow);
}
 .btn:active, .btn.active {
  color: var(--bs-btn-active-color);
  background-color: var(--bs-btn-active-bg);
  border-color: var(--bs-btn-active-border-color);
}
 .btn:active:focus, .btn.active:focus {
  box-shadow: var(--bs-btn-focus-box-shadow);
}
.btn:disabled, .btn.disabled, fieldset:disabled .btn {
  color: var(--bs-btn-disabled-color);
  pointer-events: none;
  background-color: var(--bs-btn-disabled-bg);
  border-color: var(--bs-btn-disabled-border-color);
  opacity: var(--bs-btn-disabled-opacity);
}

.btn-primary {
  --bs-btn-color: #ffffff;
  --bs-btn-bg: #0d6efd;
  --bs-btn-border-color: #0d6efd;
  --bs-btn-hover-color: #ffffff;
  --bs-btn-hover-bg: #0b5ed7;
  --bs-btn-hover-border-color: #0a58ca;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #ffffff;
  --bs-btn-active-bg: #0a58ca;
  --bs-btn-active-border-color: #0a53be;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #ffffff;
  --bs-btn-disabled-bg: #0d6efd;
  --bs-btn-disabled-border-color: #0d6efd;
}

.btn-light {
  --bs-btn-color: #000000;
  --bs-btn-bg: #f8f9fa;
  --bs-btn-border-color: #f8f9fa;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #d3d4d5;
  --bs-btn-hover-border-color: #c6c7c8;
  --bs-btn-focus-shadow-rgb: 211, 212, 213;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #c6c7c8;
  --bs-btn-active-border-color: #babbbc;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #000000;
  --bs-btn-disabled-bg: #f8f9fa;
  --bs-btn-disabled-border-color: #f8f9fa;
}

.btn-outline-dark {
  --bs-btn-color: #212529;
  --bs-btn-border-color: #212529;
  --bs-btn-hover-color: #ffffff;
  --bs-btn-hover-bg: #212529;
  --bs-btn-hover-border-color: #212529;
  --bs-btn-focus-shadow-rgb: 33, 37, 41;
  --bs-btn-active-color: #ffffff;
  --bs-btn-active-bg: #212529;
  --bs-btn-active-border-color: #212529;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #212529;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #212529;
  --bs-gradient: none;
}

.collapse:not(.show) {
  display: none;
}

.nav {
  --bs-nav-link-padding-x: 1rem;
  --bs-nav-link-padding-y: 0.5rem;
  --bs-nav-link-font-weight: ;
  --bs-nav-link-color: var(--bs-link-color);
  --bs-nav-link-hover-color: var(--bs-link-hover-color);
  --bs-nav-link-disabled-color: #6c757d;
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.nav-link {
  display: block;
  padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
  font-size: var(--bs-nav-link-font-size);
  font-weight: var(--bs-nav-link-font-weight);
  color: var(--bs-nav-link-color);
  text-decoration: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}
@media (prefers-reduced-motion: reduce) {
  .nav-link {
    transition: none;
  }
}
.nav-link:hover, .nav-link:focus {
  color: var(--bs-nav-link-hover-color);
}
.nav-link.disabled {
  color: var(--bs-nav-link-disabled-color);
  pointer-events: none;
  cursor: default;
}

.navbar {
  --bs-navbar-padding-x: 0;
  --bs-navbar-padding-y: 0.5rem;
  --bs-navbar-color: rgba(0, 0, 0, 0.55);
  --bs-navbar-hover-color: rgba(0, 0, 0, 0.7);
  --bs-navbar-disabled-color: rgba(0, 0, 0, 0.3);
  --bs-navbar-active-color: rgba(0, 0, 0, 0.9);
  --bs-navbar-brand-padding-y: 0.3125rem;
  --bs-navbar-brand-margin-end: 1rem;
  --bs-navbar-brand-font-size: 1.25rem;
  --bs-navbar-brand-color: rgba(0, 0, 0, 0.9);
  --bs-navbar-brand-hover-color: rgba(0, 0, 0, 0.9);
  --bs-navbar-nav-link-padding-x: 0.5rem;
  --bs-navbar-toggler-padding-y: 0.25rem;
  --bs-navbar-toggler-padding-x: 0.75rem;
  --bs-navbar-toggler-font-size: 1.25rem;
  --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  --bs-navbar-toggler-border-color: rgba(0, 0, 0, 0.1);
  --bs-navbar-toggler-border-radius: 0.375rem;
  --bs-navbar-toggler-focus-width: 0.25rem;
  --bs-navbar-toggler-transition: box-shadow 0.15s ease-in-out;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: var(--bs-navbar-padding-y) var(--bs-navbar-padding-x);
}

.navbar > .container-fluid {
  display: flex;
  flex-wrap: inherit;
  align-items: center;
  justify-content: space-between;
}
.navbar-brand {
  padding-top: var(--bs-navbar-brand-padding-y);
  padding-bottom: var(--bs-navbar-brand-padding-y);
  margin-right: var(--bs-navbar-brand-margin-end);
  font-size: var(--bs-navbar-brand-font-size);
  color: var(--bs-navbar-brand-color);
  text-decoration: none;
  white-space: nowrap;
}
.navbar-brand:hover, .navbar-brand:focus {
  color: var(--bs-navbar-brand-hover-color);
}

.navbar-nav {
  --bs-nav-link-padding-x: 0;
  --bs-nav-link-padding-y: 0.5rem;
  --bs-nav-link-font-weight: ;
  --bs-nav-link-color: var(--bs-navbar-color);
  --bs-nav-link-hover-color: var(--bs-navbar-hover-color);
  --bs-nav-link-disabled-color: var(--bs-navbar-disabled-color);
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.navbar-nav .nav-link.active {
  color: var(--bs-navbar-active-color);
}

.navbar-collapse {
  flex-basis: 100%;
  flex-grow: 1;
  align-items: center;
}

.navbar-toggler {
  padding: var(--bs-navbar-toggler-padding-y) var(--bs-navbar-toggler-padding-x);
  font-size: var(--bs-navbar-toggler-font-size);
  line-height: 1;
  color: var(--bs-navbar-color);
  background-color: transparent;
  border: var(--bs-border-width) solid var(--bs-navbar-toggler-border-color);
  border-radius: var(--bs-navbar-toggler-border-radius);
  transition: var(--bs-navbar-toggler-transition);
}
@media (prefers-reduced-motion: reduce) {
  .navbar-toggler {
    transition: none;
  }
}
.navbar-toggler:hover {
  text-decoration: none;
}
.navbar-toggler:focus {
  text-decoration: none;
  outline: 0;
  box-shadow: 0 0 0 var(--bs-navbar-toggler-focus-width);
}

.navbar-toggler-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  background-image: var(--bs-navbar-toggler-icon-bg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}
@media (min-width: 768px) {
  .navbar-expand-md {
    flex-wrap: nowrap;
    justify-content: flex-start;
  }
  .navbar-expand-md .navbar-nav {
    flex-direction: row;
  }
  .navbar-expand-md .navbar-nav .nav-link {
    padding-right: var(--bs-navbar-nav-link-padding-x);
    padding-left: var(--bs-navbar-nav-link-padding-x);
  }
  .navbar-expand-md .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
  }
  .navbar-expand-md .navbar-toggler {
    display: none;
  }
}
.navbar-expand {
  flex-wrap: nowrap;
  justify-content: flex-start;
}
.navbar-expand .navbar-nav {
  flex-direction: row;
}
.navbar-expand .navbar-nav .nav-link {
  padding-right: var(--bs-navbar-nav-link-padding-x);
  padding-left: var(--bs-navbar-nav-link-padding-x);
}
.navbar-expand .navbar-collapse {
  display: flex !important;
  flex-basis: auto;
}
.navbar-expand .navbar-toggler {
  display: none;
}

.navbar-dark {
  --bs-navbar-color: rgba(255, 255, 255, 0.55);
  --bs-navbar-hover-color: rgba(255, 255, 255, 0.75);
  --bs-navbar-disabled-color: rgba(255, 255, 255, 0.25);
  --bs-navbar-active-color: #ffffff;
  --bs-navbar-brand-color: #ffffff;
  --bs-navbar-brand-hover-color: #ffffff;
  --bs-navbar-toggler-border-color: rgba(255, 255, 255, 0.1);
  --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.card {
  --bs-card-spacer-y: 1rem;
  --bs-card-spacer-x: 1rem;
  --bs-card-title-spacer-y: 0.5rem;
  --bs-card-border-width: 1px;
  --bs-card-border-color: var(--bs-border-color-translucent);
  --bs-card-border-radius: 0.375rem;
  --bs-card-box-shadow: ;
  --bs-card-inner-border-radius: calc(0.375rem - 1px);
  --bs-card-cap-padding-y: 0.5rem;
  --bs-card-cap-padding-x: 1rem;
  --bs-card-cap-bg: rgba(0, 0, 0, 0.03);
  --bs-card-cap-color: ;
  --bs-card-height: ;
  --bs-card-color: ;
  --bs-card-bg: #ffffff;
  --bs-card-img-overlay-padding: 1rem;
  --bs-card-group-margin: 0.75rem;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  height: var(--bs-card-height);
  word-wrap: break-word;
  background-color: var(--bs-card-bg);
  background-clip: border-box;
  border: var(--bs-card-border-width) solid var(--bs-card-border-color);
  border-radius: var(--bs-card-border-radius);
}
.card > hr {
  margin-right: 0;
  margin-left: 0;
}

.card-body {
  flex: 1 1 auto;
  padding: var(--bs-card-spacer-y) var(--bs-card-spacer-x);
  color: var(--bs-card-color);
}

.card-title {
  margin-bottom: var(--bs-card-title-spacer-y);
}

.card-text:last-child {
  margin-bottom: 0;
}


.card-img-top {
  width: 100%;
}


.card-img-top {
  border-top-left-radius: var(--bs-card-inner-border-radius);
  border-top-right-radius: var(--bs-card-inner-border-radius);
}

.accordion {
  --bs-accordion-color: #000000;
  --bs-accordion-bg: #ffffff;
  --bs-accordion-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, border-radius 0.15s ease;
  --bs-accordion-border-color: var(--bs-border-color);
  --bs-accordion-border-width: 1px;
  --bs-accordion-border-radius: 0.375rem;
  --bs-accordion-inner-border-radius: calc(0.375rem - 1px);
  --bs-accordion-btn-padding-x: 1.25rem;
  --bs-accordion-btn-padding-y: 1rem;
  --bs-accordion-btn-color: var(--bs-body-color);
  --bs-accordion-btn-bg: var(--bs-accordion-bg);
  --bs-accordion-btn-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='var%28--bs-body-color%29'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
  --bs-accordion-btn-icon-width: 1.25rem;
  --bs-accordion-btn-icon-transform: rotate(-180deg);
  --bs-accordion-btn-icon-transition: transform 0.2s ease-in-out;
  --bs-accordion-btn-active-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23d5161c'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
  --bs-accordion-btn-focus-border-color: #86b7fe;
  --bs-accordion-btn-focus-box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
  --bs-accordion-body-padding-x: 1.25rem;
  --bs-accordion-body-padding-y: 1rem;
  --bs-accordion-active-color: #d5161c;
  --bs-accordion-active-bg: #fde8e9;
}

.accordion-button {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  padding: var(--bs-accordion-btn-padding-y) var(--bs-accordion-btn-padding-x);
  font-size: 1rem;
  color: var(--bs-accordion-btn-color);
  text-align: left;
  background-color: var(--bs-accordion-btn-bg);
  border: 0;
  border-radius: 0;
  overflow-anchor: none;
  transition: var(--bs-accordion-transition);
}
@media (prefers-reduced-motion: reduce) {
  .accordion-button {
    transition: none;
  }
}
.accordion-button:not(.collapsed) {
  color: var(--bs-accordion-active-color);
  background-color: var(--bs-accordion-active-bg);
  box-shadow: inset 0 calc(var(--bs-accordion-border-width) * -1) 0 var(--bs-accordion-border-color);
}
.accordion-button:not(.collapsed)::after {
  background-image: var(--bs-accordion-btn-active-icon);
  transform: var(--bs-accordion-btn-icon-transform);
}
.accordion-button::after {
  flex-shrink: 0;
  width: var(--bs-accordion-btn-icon-width);
  height: var(--bs-accordion-btn-icon-width);
  margin-left: auto;
  content: "";
  background-image: var(--bs-accordion-btn-icon);
  background-repeat: no-repeat;
  background-size: var(--bs-accordion-btn-icon-width);
  transition: var(--bs-accordion-btn-icon-transition);
}
@media (prefers-reduced-motion: reduce) {
  .accordion-button::after {
    transition: none;
  }
}
.accordion-button:hover {
  z-index: 2;
}
.accordion-button:focus {
  z-index: 3;
  border-color: var(--bs-accordion-btn-focus-border-color);
  outline: 0;
  box-shadow: var(--bs-accordion-btn-focus-box-shadow);
}

.accordion-header {
  margin-bottom: 0;
}

.accordion-item {
  color: var(--bs-accordion-color);
  background-color: var(--bs-accordion-bg);
  border: var(--bs-accordion-border-width) solid var(--bs-accordion-border-color);
}
.accordion-item:first-of-type {
  border-top-left-radius: var(--bs-accordion-border-radius);
  border-top-right-radius: var(--bs-accordion-border-radius);
}
.accordion-item:first-of-type .accordion-button {
  border-top-left-radius: var(--bs-accordion-inner-border-radius);
  border-top-right-radius: var(--bs-accordion-inner-border-radius);
}
.accordion-item:not(:first-of-type) {
  border-top: 0;
}
.accordion-item:last-of-type {
  border-bottom-right-radius: var(--bs-accordion-border-radius);
  border-bottom-left-radius: var(--bs-accordion-border-radius);
}
.accordion-item:last-of-type .accordion-button.collapsed {
  border-bottom-right-radius: var(--bs-accordion-inner-border-radius);
  border-bottom-left-radius: var(--bs-accordion-inner-border-radius);
}
.accordion-item:last-of-type .accordion-collapse {
  border-bottom-right-radius: var(--bs-accordion-border-radius);
  border-bottom-left-radius: var(--bs-accordion-border-radius);
}

@keyframes progress-bar-stripes {
  0% {
    background-position-x: 1rem;
  }
}

/* rtl:begin:ignore */

/* rtl:end:ignore */

/* rtl:begin:ignore */

/* rtl:end:ignore */

/* rtl:begin:ignore */

/* rtl:end:ignore */

/* rtl:begin:ignore */

/* rtl:end:ignore */

.carousel {
  position: relative;
}

.carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.carousel-inner::after {
  display: block;
  clear: both;
  content: "";
}

.carousel-item {
  position: relative;
  display: none;
  float: left;
  width: 100%;
  margin-right: -100%;
  backface-visibility: hidden;
  transition: transform 0.6s ease-in-out;
}
@media (prefers-reduced-motion: reduce) {
  .carousel-item {
    transition: none;
  }
}

.carousel-item.active {
  display: block;
}

/* rtl:begin:ignore */

/* rtl:end:ignore */

/* rtl:options: {
  "autoRename": true,
  "stringMap":[ {
    "name"    : "prev-next",
    "search"  : "prev",
    "replace" : "next"
  } ]
} */

.carousel-indicators {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  display: flex;
  justify-content: center;
  padding: 0;
  margin-right: 15%;
  margin-bottom: 1rem;
  margin-left: 15%;
  list-style: none;
}
.carousel-indicators [data-bs-target] {
  box-sizing: content-box;
  flex: 0 1 auto;
  width: 30px;
  height: 3px;
  padding: 0;
  margin-right: 3px;
  margin-left: 3px;
  text-indent: -999px;
  cursor: pointer;
  background-color: #ffffff;
  background-clip: padding-box;
  border: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  opacity: 0.5;
  transition: opacity 0.6s ease;
}
@media (prefers-reduced-motion: reduce) {
  .carousel-indicators [data-bs-target] {
    transition: none;
  }
}
.carousel-indicators .active {
  opacity: 1;
}
.carousel-dark .carousel-indicators [data-bs-target] {
  background-color: #000000;
}

@keyframes spinner-border {
  to {
    transform: rotate(360deg) /* rtl:ignore */;
  }
}

@keyframes spinner-grow {
  0% {
    transform: scale(0);
  }
  50% {
    opacity: 1;
    transform: none;
  }
}

.placeholder {
  display: inline-block;
  min-height: 1em;
  vertical-align: middle;
  cursor: wait;
  background-color: currentcolor;
  opacity: 0.5;
}
.placeholder.btn::before {
  display: inline-block;
  content: "";
}

@keyframes placeholder-glow {
  50% {
    opacity: 0.2;
  }
}

@keyframes placeholder-wave {
  100% {
    mask-position: -200% 0%;
  }
}

.sticky-top {
  position: sticky;
  top: 0;
  z-index: 1020;
}
@media (min-width: 992px) {
  .sticky-lg-top {
    position: sticky;
    top: 0;
    z-index: 1020;
  }
}

.d-block {
  display: block !important;
}

.d-grid {
  display: grid !important;
}

.d-flex {
  display: flex !important;
}

.w-75 {
  width: 75% !important;
}

.h-100 {
  height: 100% !important;
}

.flex-column {
  flex-direction: column !important;
}

.justify-content-end {
  justify-content: flex-end !important;
}

.justify-content-center {
  justify-content: center !important;
}

.justify-content-evenly {
  justify-content: space-evenly !important;
}

.align-items-center {
  align-items: center !important;
}

.align-items-stretch {
  align-items: stretch !important;
}

.align-self-center {
  align-self: center !important;
}

.order-1 {
  order: 1 !important;
}

.order-2 {
  order: 2 !important;
}

.order-3 {
  order: 3 !important;
}

.m-0 {
  margin: 0 !important;
}

.mx-3 {
  margin-right: 1rem !important;
  margin-left: 1rem !important;
}

.mx-auto {
  margin-right: auto !important;
  margin-left: auto !important;
}

.my-3 {
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
}

.my-4 {
  margin-top: 1.5rem !important;
  margin-bottom: 1.5rem !important;
}

.my-5 {
  margin-top: 3rem !important;
  margin-bottom: 3rem !important;
}

.my-auto {
  margin-top: auto !important;
  margin-bottom: auto !important;
}

.mt-1 {
  margin-top: 0.25rem !important;
}

.mt-3 {
  margin-top: 1rem !important;
}

.mt-4 {
  margin-top: 1.5rem !important;
}

.mt-5 {
  margin-top: 3rem !important;
}

.me-2 {
  margin-right: 0.5rem !important;
}

.me-auto {
  margin-right: auto !important;
}

.mb-2 {
  margin-bottom: 0.5rem !important;
}

.mb-3 {
  margin-bottom: 1rem !important;
}

.mb-5 {
  margin-bottom: 3rem !important;
}

.p-3 {
  padding: 1rem !important;
}

.p-4 {
  padding: 1.5rem !important;
}

.p-5 {
  padding: 3rem !important;
}

.px-0 {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.px-1 {
  padding-right: 0.25rem !important;
  padding-left: 0.25rem !important;
}

.pt-0 {
  padding-top: 0 !important;
}

.pb-0 {
  padding-bottom: 0 !important;
}

.gap-2 {
  gap: 0.5rem !important;
}

.lh-lg {
  line-height: 2 !important;
}

.text-end {
  text-align: right !important;
}

.text-center {
  text-align: center !important;
}

.text-wrap {
  white-space: normal !important;
}

.text-nowrap {
  white-space: nowrap !important;
}

/* rtl:begin:remove */

/* rtl:end:remove */

.rounded-1 {
  border-radius: var(--bs-border-radius-sm) !important;
}
@media (min-width: 768px) {
  .d-md-block {
    display: block !important;
  }
  .justify-content-md-end {
    justify-content: flex-end !important;
  }
  .order-md-1 {
    order: 1 !important;
  }
  .order-md-2 {
    order: 2 !important;
  }
  .order-md-3 {
    order: 3 !important;
  }
  .mx-md-0 {
    margin-right: 0 !important;
    margin-left: 0 !important;
  }
  .mx-md-1 {
    margin-right: 0.25rem !important;
    margin-left: 0.25rem !important;
  }
  .mx-md-2 {
    margin-right: 0.5rem !important;
    margin-left: 0.5rem !important;
  }
  .mx-md-auto {
    margin-right: auto !important;
    margin-left: auto !important;
  }
  .my-md-0 {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }
  .me-md-2 {
    margin-right: 0.5rem !important;
  }
  .p-md-5 {
    padding: 3rem !important;
  }
}
@media (min-width: 992px) {
  .mb-lg-0 {
    margin-bottom: 0 !important;
  }
  .mb-lg-1 {
    margin-bottom: 0.25rem !important;
  }
}

/*# sourceMappingURL=main.css.map */
