#footer {
    grid-area: footer;
    background-color: $black;

    .footerText--font {
        font-size: map-get($map:$footertext-Size, $key:'xs');
        font-weight: $footertext-Weight;
        color: $white;

        @include respond-to('sm') {
            font-size: map-get($map:$footertext-Size, $key:'sm');
        }

        @include respond-to('md') {
            font-size: map-get($map:$footertext-Size, $key:'md');
        }

        @include respond-to('lg') {
            font-size: map-get($map:$footertext-Size, $key:'lg');
        }

        @include respond-to('xl') {
            font-size: map-get($map:$footertext-Size, $key:'xl');
        }

        @include respond-to('xxl') {
            font-size: map-get($map:$footertext-Size, $key:'xxl');
        }

    }

    .socialMedia_IMG--sizing {
        width: 3.5rem;
        height: 3.5rem;

        @include respond-to('md') {
            width: 4rem;
            height: 4rem;
        }

        @include respond-to('lg') {
            width: 4.5rem;
            height: 4.5rem;
        }

        @include respond-to('xl') {
            width: 5rem;
            height: 5rem;
        }
    }

    select[name] {
        font-size: map-get($map:$footerSelection-Size, $key:'xs');
        font-weight: $footertext-Weight;
        color: $black;

        @include respond-to('sm') {
            font-size: map-get($map:$footerSelection-Size, $key:'sm');
        }

        @include respond-to('md') {
            font-size: map-get($map:$footerSelection-Size, $key:'md');
        }

        @include respond-to('lg') {
            font-size: map-get($map:$footerSelection-Size, $key:'lg');
        }

        @include respond-to('xl') {
            font-size: map-get($map:$footerSelection-Size, $key:'xl');
        }

        @include respond-to('xxl') {
            font-size: map-get($map:$footerSelection-Size, $key:'xxl');
        }
    }


}